/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        mac_swed_a: mac_swed_a {
            label = "mac_swed_a";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp RA(A)>;
        };
        mac_swed_o: mac_swed_o {
            label = "mac_swed_o";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp RA(U) &kp O>;
        };
        mac_swed_aa: mac_swed_aa {
            label = "mac_swed_aa";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp RA(U) &kp O>;
        };
        mac_swed_capa: mac_swed_capa {
            label = "mac_swed_capa";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LS(RA(A))>;
        };
        mac_swed_capo: mac_swed_capo {
            label = "mac_swed_capo";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp RA(U) &kp LS(O)>;
        };
        mac_swed_capaa: mac_swed_capaa {
            label = "mac_swed_capaa";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp RA(U) &kp LS(A)>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        dvorak_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  '  |  ,  |  .  |  P  |  Y  |   |  F  |  G   |  C  |  R  |  L  | BKSP |
            // | ESC  |  A  |  O  |  E  |  U  |  I  |   |  D  |  H   |  T  |  N  |  S  |  -   |
            // | SHFT |  ;  |  Q  |  J  |  K  |  X  |   |  B  |  M   |  W  |  V  |  Z  |  /  |
            //                    | ALT | LCMD | LCTRL |   | SPC/SHIFT | L1  | L3 |

            bindings = <
  &kp TAB  &kp '  &kp ,     &kp .      &kp P  &kp Y           &kp F   &kp G   &kp C    &kp R    &kp L    &hm LA(BSPC) BSPC
  &kp ESC  &kp A  &kp O     &kp E      &kp U  &kp I           &kp D   &kp D   &kp T    &kp N    &kp S    &kp -
&kp LSHFT  &kp ;  &kp Q     &kp J      &kp K  &kp X           &kp B   &kp M   &kp W    &kp V   &kp  Z    &kp /
                &kp RIGHT_ALT  &kp LCMD   LCTRL     &hm RSHFT SPACE   &mo 1   &mo 3
            >;
        };

        arrow_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | LCMD(BKSP) |
            // | ESC  |  å  |  ö  |  ä  |     |     |   | LFT | DWN |  UP | RGT |     |  ENTER   |
            // | SHFT |  Å  |  Ö  |  Ä  |     |     |   |  {  |  }  |  [  |  ]  |  ?  |  trans  |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL     &kp AT      &kp HASH        &kp DLLR  &kp PRCNT &kp CARET  &kp AMPS  &kp KP_MULTIPLY  &kp LPAR   &kp RPAR    &kp LCMD(BSPC)
&trans     &mac_swed_a   &mac_swed_o &mac_swed_aa      &trans    &trans    &kp LEFT   &kp DOWN    &kp UP      &kp RIGHT  &trans     &kp ENTER
&kp LSHFT  &mac_swed_capa &mac_swed_capo &mac_swed_capaa  &trans  &trans      &trans    &trans    &trans        &trans    &trans    &trans
                                                    &trans  &trans  &trans      &trans    &trans  &kp RALT
            >;
        };

        number_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  6  |  7  |  8  |  9 |  0  | BKSP |
            // |  ESC |  å  |  ö  |  ä  |     |     |   |  1 |  2  |  3  |  4  |  5  |  `   |
            // | SHFT |  Å  |  Ö  |  Ä  |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
  &kp TAB    &kp EXCL       &kp AT         &kp HASH         &kp DLLR  &trans        &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
  &trans     &mac_swed_a    &mac_swed_o    &mac_swed_aa     &trans    &trans        &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &trans
  &kp LSHFT  &mac_swed_capa &mac_swed_capo &mac_swed_capaa  &trans    &trans        &kp UNDER   &kp PLUS   &kp LBRC  &kp RBRC  &kp PIPE  &kp TILDE
                                                &trans     &trans     &trans        &trans   &trans   &kp RALT
            >;
        };

    };
};
